* {
  margin: 0;
  padding: 0;
  font: Arial, sans-serif;
  color: bisque;
}

.header {
  margin: 10px 50px 0px;
  padding-left: 10%;
  padding-right: 5%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: linear-gradient(to left, rgb(54, 54, 54), white 50%);
  border-radius: 20px;
  font-size: 35px;
}

.avatar {
  width: 150px;
}

.list {
  margin: 0 auto;
  padding: 10px 30px;
  width: 50%;
  background: linear-gradient(to right, rgb(54, 54, 54) 50%, white);
  font-size: 20px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}
